{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "printWidth": 100,
  "trailingComma": "none",
  "importOrder": ["^(?!\\.|api/).*", "^."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
